<<ABOUT_PAGE<TREE>
Title:About Page for ACME Industries of Doom
<*<HEADER>*>

    [row[        
        [cell[   
            style: text-align:center; background:#00ffff0d
            [h2[
                       [#[THE ABOUT PAGE]#]
            ]h2]
        ]cell]
    ]row]

    [row[
        [cell[
            [div[
                <img<
                src  =  images/PerlCNF.png
                style= "float:right"
                >img>
                <#<To contact as you need the details, that have been emailed to you.>#>
            ]div]
        ]cell]
    ]row] 

    [row[        
        [cell[            
            [h3[ Available Pages ]h3]

            # The following show exactly how clearly is specified the home link to translate.
            # Some might find this debatable. But most would agree it is a heck more readable.
            # Cramming it in like in normal html, will not work for this tree CNF format.            
            # i.e. Following will not work: [span[[#[[]#]]span] or [span[ [ ]span]<a<...>a>[span[ ] ]span]
            #
            [span[
                [#[[]#]
            ]span]
            <a<
                href = /
                [#[Home]#]
            >a>
            [span[
                [#[] |]#]
            ]span]            
            [*[file_list_html]*]  
        ]cell]
    ]row]
>>

<<HEADER<TREE> _HAS_PROCESSING_PRIORITY_
    [CSS[
        [@@[artifacts/main.css]@@]
    ]CSS]
>>

<<CNF_TO_HTML<PLUGIN>
    package     : HTMLProcessorPlugin
    subroutine  : convert
    property    : ABOUT_PAGE
>>