<<IMAGES_PAGE<TREE>
Title:Images Page 
Body: onLoad="initPage()" style="background-image: url('artifacts/colorful-web_3840x2160.jpg');"
<*<HEADER>*>

    [row[        
        [cell[   
            style: text-align:center; background:#00ffff0d        
            [h2[IMAGES PAGE]h2]            
        ]cell]        
    ]row]
    [cell[
            [#[
                <img src="images/PerlCNF.png" style="float:left"/>
                <a name="top"></a><a href="#bottom">To Bottom</a>
            ]#]            
    ]cell]

    ###
    # list_images instruction does translate each image to be in own row and cell, in uniform way.
    ###
    [list_images[
        [@@[~/Pictures]@@]
        [@@[~/Pictures/desk_backgrounds]@@]
    ]list_images]
    
    [row[        
        [cell[            
            [h3[ Available Pages ]h3]
            <a<
                name = bottom
            >a>             
            [span[
                [#[
                    [
                ]#]
            ]span]
            <a<
                href = /
                [#[Home]#]
            >a>
            [span[
                [#[] |]#]
            ]span]            
            [*[file_list_html]*]  
        ]cell]
    ]row]


>>
<<HEADER<TREE> _HAS_PROCESSING_PRIORITY_
    [CSS[
        [@@[artifacts/main.css]@@]
    ]CSS]
[JAVASCRIPT[
[#[
    function initPage() {
        console.log("Images Page loaded and initPage() called");
    }
]#]
]JAVASCRIPT]
>>

<<CNF_TO_HTML<PLUGIN>
    package     : HTMLProcessorPlugin
    subroutine  : convert
    property    : IMAGES_PAGE
>>