body{
    font-family: Segoe UI,Helvetica,Bookman,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    some-background-image: url('configs/docs/images/PerlCNF.png');
    margin: 0; 
    padding:0;  
}
div{
    text-align: left; 
    font-size: medium;               
    display: table-cell;
    padding: 3px 10px;
}

.main {
font-family: Bookman; 
position: relative;
text-align: center;
vertical-align: middle;
border: 1px solid #999999;
display: flex;
justify-content: center;
}
.row{
 border:0;
 display: table-row;
 vertical-align: middle;
 margin-bottom:33px
}
.cell {
    border: 3px solid #00ffff0d;
    display: table-cell;
    padding: 3px 10px;
}


p {
font-family: Bookman;
font-weight: bold;
margin-left: 70px;    
text-align: justify;
padding-top: 50px;
padding-left: 20px;
padding-bottom: 50px;
}

img {
float: left;
padding: 0 10px
}